#certificates {

    display: grid;
    place-items: center;

    h3 {
        font-size: 3.5rem;
        font-weight: 500;
        text-align: center;
        color: $white;
        margin: 6rem 0 1rem 0;

        @include responsive(tablet) {
            font-size: 2.5rem;
        }
    }

    .slider-container {
        position: relative;
        overflow: hidden;
        width: 100vw;
        height: 50rem;
        max-width: 60rem;

        @media (max-width: 992px) {
            height: 50rem;
        }
        @media (max-width : 820px) {
            height: 45rem;
        }
        @media (max-width: 540px) {
            height: 40rem;
        }
        @media (max-width: 480px) {
            height: 35rem;
        }
        @media (max-width: 400px) {
            height: 30rem;
        }

        .cert-slide {
            position: absolute;
            width: 100%;
            height: 100%;
            transition: all 0.80s ease-in-out;

            img {
                width: 60rem;
                height: auto;
                display: block;
                margin: 2rem auto;
                object-fit: cover;

                @include responsive(pc) {
                    width: 90%;
                }
            } 
        }
    }

    .btn-container {
        display: flex;
        justify-content: center;
        gap: 7rem;

        button {
            background-color: transparent;
            border: none;
            color: $lightBlue;
            font-size: 4rem;
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 576px) {
    .slider-container {
      height: 45vh;
    }
  }
  @media screen and (min-width: 768px) {
    .slider-container {
      height: 55vh;
    }
  }
  @media screen and (min-width: 992px) {
    .slider-container {
      height: 65vh;
    }
  }