#contact {
    margin: 10rem auto 4rem auto;
    max-width: 80rem;
    color: $white;
    text-align: center;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(54,53,53,1) 61%, rgba(103,101,101,1) 100%);
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 3px 22px 15px rgba(0,0,0,0.39); 
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 3px 22px 15px rgba(0,0,0,0.53);
    padding: 4rem;
    border-radius: 4rem;

    @include responsive(tablet) {
        margin-left: 2rem;
        margin-right: 2rem;
    }


    h2 {
        font-size: 4rem;
        background: #34dfcb;
        background: -webkit-linear-gradient(to right, #34dfcb, #ffffff);
        background: linear-gradient(to right, #34dfcb, #ffffff);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .contact-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .contactLeft {
            .contactItems {
                display: flex;
                flex-direction: column;
                gap: 5rem;
                align-items: flex-start;
                margin-top: 4rem;
        
                .contactItems-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 3rem;
        
                    p {
                        font-size: 2.5rem;
                        font-weight: bold;
                    }
        
                    svg {
                        width: 4rem;
                        height: 4rem;
                    }
                }
            }
        }

        .contactRight {
            @include responsive(tablet) {
                display: none;
            }
        }
    }
}