#contact {
    margin: 10rem auto 4rem auto;
    max-width: 80rem;
    color: $white;
    text-align: center;
    padding: 4rem;
    border-radius: 4rem;

    @include responsive(tablet) {
        margin-left: 2rem;
        margin-right: 2rem;
    }


    h2 {
        @include sectionTitle;
    }

    .contact-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .contactLeft {
            .contactItems {
                display: flex;
                flex-direction: column;
                gap: 5rem;
                align-items: flex-start;
                margin-top: 4rem;
        
                .contactItems-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 3rem;
        
                    p {
                        font-size: 2.5rem;
                        font-weight: bold;
                    }
        
                    svg {
                        width: 4rem;
                        height: 4rem;
                        padding: 1rem;
                        background-color: $pink;
                        border-radius: 1rem;

                        &:hover {
                            color: $black;
                        }
                    }
                }
            }
        }

        .contactRight {
            @include responsive(tablet) {
                display: none;
            }
        }
    }
}