header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 7rem;
    width: 100vw;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 1;

    @include responsive(pc) {
        background: rgb(184,180,180);
        background: linear-gradient(0deg, rgba(184,180,180,1) 0%, #4de5c1 65%);
        @include bottomShadow;
    }

    h1 {
        background-image: linear-gradient(-225deg, #850e85 0%, #306fb8 29%, #6f38a3 67%, #ce12ce 100%);
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: colors 4s ease-out infinite;
        font-weight: bold;
        letter-spacing: 3px;
        font-size: 3.5rem;

        @keyframes colors {
            to {
                background-position: 200% center;
            }
        }
    }

    .nav-toggle {
        float: right;
        background: transparent;
        border: none;
        display: none;
        transition: all 1s linear;

        @include responsive(pc) {
            display: block;
        }

        &:hover {
            transform: rotate(180deg);
        }

        svg {
            width: 4rem;
            height: 4rem;
            color: $black;
        }
    }

    .nav-list {
        li a {
            font-size: 2rem;
            font-family: $linkFont;
            cursor: pointer;
            font-weight: bold;
            color: $black;

            &:hover {
                color: $pink;
            }

            svg {
                width: 3rem;
                height: 3rem;
                cursor: pointer;

                &:hover {
                    color: $pink;
                }
            }
        }
    }

    .socials-list {
        li a svg {
            width: 3rem;
            height: 3rem;
            cursor: pointer;
            color: $black;

            &:hover {
                color: $pink;
            }
        }
    }
}

/* Media queries menu */
@include responsive(pc) {
    .socials-list {
        display: none;
    }
    header {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 2rem;
    }
    .nav-list {
        flex-direction: column;
        padding-top: 3rem;
    }
    .nav-media {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 100%;
    }
    .d-none {
        display: none;
    }
}

.bottom {
        background: rgb(184,180,180);
        background: linear-gradient(0deg, rgba(184,180,180,1) 0%, #4de5c1 65%);
        @include bottomShadow;
}
.black {
    color: $black;
}